{% extends "base.html" %}
{% block content %}
                 
            <div class="row">
                <div class="flex">
                    <div class="col">
                        <img class="portrait" src ="static/forest.jpg" alt="Picture of Nicol Hawkins">

                        <button class="btn-github"><a class="btn-link" href="{% url 'git-repos' %}" target="_blank">Github</a></button>
                        <button class="btn-linked-in"><a class="btn-link" href="https://www.linkedin.com/in/nicol-hawkins?trk=people-guest_profile-result-card_result-card_full-click" target="_blank">Linked-In</a></button>
                        <button class="btn-soundcloud"><a class="btn-link" href="https://soundcloud.com/icolawkins" target="_blank">Soundcloud</a></button>
                        
                    </div>
                    <div class="col">
                        <div class="text-box">
                        
                            <h1>About Me:</h1>
                            <p>My name is Nicol and I was born and raised in the Bay Area. Currently,<br>
                            I am a student at Kickstart Coding who is interested in becoming<br>
                            a fullstack developer. So far I am particularly interested in mastering Python, <br>
                            but I am open to all coding languages. During my time at Kickstart I hope to discover<br>
                            what I am best at and to pursure that full-time.</p>
                            
                            <p>My interests include playing and recording music, herbalism, yoga and coding. </p>
                            <br><br>

                            <h2>Contact:</h2>
                            <p>
                                <a href="mailto:nicolchawkins@gmail.com" class="btn-email">Send me an email</a>  
                            </p>
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock content %}

