<DOCTYPE! html>
<html lang=en>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="static/style.css">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>
    <body class="colorful">
        <div class="row">
            <div class="col">
                <div class="pattern-container">
                    <p class="intro">
                    Nicol Hawkins
                    </p>
                    <nav>
                        <a href="{% url 'my-blog' %}" class="btn-blog">Blog</a>
                        <a href="{% url 'my-resume' %}" class="btn-resume">Resume</a>
                        <a href="{% url 'about-me' %}" class="btn-about">About</a>
                    </nav>
                </div>
            </div>
        </div>
        
  
    {% block content %}
    {{ content|safe }}
    {% endblock content %}





    </body>
</html>