
{% extends "base.html" %}
{% block content %}
       
            <div class="row">
                <div class="flex">
                    <div class="col">
                        <img class="portrait" src ="static/forest.jpg" alt="Picture of Nicol Hawkins">

                        <button class="btn-github"><a class="btn-link" href="https://github.com/nicol-hawkins" target="_blank">Github</a></button>
                        <button class="btn-linked-in"><a class="btn-link" href="https://www.linkedin.com/in/nicol-hawkins?trk=people-guest_profile-result-card_result-card_full-click" target="_blank">Linked-In</a></button>
                        <button class="btn-soundcloud"><a class="btn-link" href="https://soundcloud.com/icolawkins" target="_blank">Soundcloud</a></button>
                    </div>

                    <div class="col">
                        <div class="text-box">
                        
                            <h1>Blog:<h2><em>My Kickstart Coding Journey has begun!</em></h2><h4>Oct. 27, 2019</h4></h1>
                            <p>A week ago I started my official coding journey at Kickstart Coding.<br>
                                The past few months I have been teaching myself to code via online tutorials.<br>
                                I've learned a lot from them, but I feel they can only take you so far.<br>
                                Just one week in and I feel like having the guidance of an instructor has <br>
                                helped me really understand concepts I only had vague notions of before.<br>
                                Being able to apply these concepts to build something of your own<br>
                                is super rewarding. This is my first website I've ever built, and I<br>
                                I'm proud of it! At first I tried to use a template, but decided there was<br>
                                too much noise and wanted to try from scratch. </p>
            
                                <h2><em>What's the deal with Webpage Responsiveness?</em><h3>Oct. 29, 2019</h3></h2>
                                <p>You know what really grinds my gears? Figuring out how to make my<br>
                                webpage responsive! I've tried a few different approaches, combed through<br>
                                stack overflow etc.. But still can't seem to get it right. This is the longest<br>
                                I've ever spent on an html problem with no results, so I thought I would take a <br>
                                break from all that and write a rant about it. I hope I can figure it out soon,<br>
                                but it may be something I have to come back to later or after I've had some help. 
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
{% endblock content %}

