

    <body class="colorful">
        <div class="container">
            <div class="row">
                <div class="pattern-container">
                    <p class="intro">
                        Nicol Hawkins
                    </p>
                    <nav>
                        <a href=" " class="btn-blog">Blog</a>
                        <button class="btn-resume">Resume</button>
                        <a href="about-me" class="btn-about">About</a>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="flex">
                    <div class="col">
                        <img class="portrait" src ="static/forest.jpg" alt="Picture of Nicol Hawkins">

                        <button class="btn-github"><a class="btn-link" href="https://github.com/nicol-hawkins" target="_blank">Github</a></button>
                        <button class="btn-linked-in"><a class="btn-link" href="https://www.linkedin.com/in/nicol-hawkins?trk=people-guest_profile-result-card_result-card_full-click" target="_blank">Linked-In</a></button>
                        <button class="btn-soundcloud"><a class="btn-link" href="https://soundcloud.com/icolawkins" target="_blank">Soundcloud</a></button>
                    </div>
                    <div class="col">
                        <div class="text-box">
                            
                            <h1>Resume:</h1>
                            <h2>Kickstart Coding</h2>
                        <p>
                        In the fall of 2019 I started attending Kickstart Coding, a four month long<br>
                        intensive coding bootcamp. It's full stack curriculum exposed me to many<br>
                        coding concepts, languages and online resources.
                        </p>
                        <p><h3>Languages:</h3></p>
                        <ul>
                            <li>Python</li>
                            <li>HTML</li>
                            <li>CSS</li>
                            <li>JavaScript</li>
                            <li>And so much more!</li>
                        </ul>
                        <h2>Bandcamp</h2>
                        <p>
                        Bandcamp is a type of company I would be super interested in working for.<br>
                        Being a musician myself, music is my passion. If there was a way for me to be<br>
                        involved with helping artists promote their music, that would be my dream job.<br>
                        </p>
                        <p><h3>What a Bandcamp Designer needs:</h3></p>
                        <ul>
                            <li>User-experience/interaction/product and visual design experience with<br>
                                consumer facing products </li>
                            <li>A strong understanding and dedication to the user-centered design process</li>
                            <li>The ability to take your ideas from sketches to mockups to production-ready HTML/CSS</li>
                            <li>Experience designing across multiple devices and platforms</li>
                            <li>Skills at giving and receiving feedback and understanding its <br>
                                importance in design process.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
